<h1> <%= @tweet.content %> </h1>

<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Tweet: </label><input type="text" name="tweet[content]" id="content">
  <input type="submit" value="Save Tweet">
</form>
